coolify_endpoint = "https://coolify.bdziam.dev"
openbao_address  = "https://stg-bao.beskid-lang.org"

# From production: tofu output coolify_project_uuid
# project_uuid = "..."

server_uuid = "ec0cs0cw0ocsok488gc0k80k"

manage_environment = true
deploy_openbao     = true

enable_services = {
  site    = true
  auth    = true
  tracker = true
  nexus   = true
  pckg    = true
}
