coolify_endpoint = "https://coolify.bdziam.dev"
openbao_address  = "https://secrets.bdziam.dev"

# From production: tofu output coolify_project_uuid
# project_uuid = "..."

server_uuid = "ec0cs0cw0ocsok488gc0k80k"
destination_uuid = "zss4wkockgw8gok888gscc84"

manage_environment = true

enable_services = {
  site    = true
  auth    = true
  tracker = true
  nexus   = true
  pckg    = true
}
